body {
	background: url(../images/bg.gif);
	min-width: 960px;
}

.maincontainer {
	padding: 10px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}

.topcontainer {
	width: 100%;
	height: 150px;
	
}

.timelinecontainer {
	position: relative;
	width: 100%;	
	min-height: 600px;
	margin-top: 10px;

}

.timeline {
	margin-left: 50%;
	height: 99%;
	width: 4px;
	background: #c3ccdf;	
	position: absolute;
}

.timeline:hover {
	cursor: pointer;
}

ol.timelineblock {
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
	list-style-type: none;
	width: 960px;	
	
}

.timelineblock li {
	padding: 15px;
	margin: 0px;
	width: 370px;

	background: #fff;
	border: 1px solid #c4cde0;
	
}

.borders {
	border: 1px solid #000;
}

